body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #7B8087;
}

.login-btn, .signup-btn {
  background: none!important;
  color: #F6AE2D;
  border: none; 
  padding: 0!important;
  font: inherit;
  cursor: pointer;
}

.hero-image {
  height: 60%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
}

.profile-pic {
  margin-left: 6em;
}

.profile-pixxx {
  max-width: 75%;
  height: auto;
  width: auto\9; /* ie8 */
  border-radius: 50%;
}

.update-profile {
  margin-left: 6em;
}

h1 {
  color: #F26419;
}
h2 {
  text-align: center;
  color: #C7D5DF;
}

h3 {
  color: #C7D5DF;
}

p {
  color: #454E5A;
  font-size: 2vh;
}

.prop-man-pic, .rental-pic {
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

.prop-man-pic {
  margin-right: 2em;
}

.prop-man-pic, .hero-blurb {
  padding-bottom: 4em;
}

.rental-pic {
  margin-left: 2em;
}

.hero-blurb {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 3vh;
}

.footer {
  left:0px;
  bottom:0px;
  width:100%;
  position: fixed;
}

.navbar {
  text-align: center;
}

.footer, .navbar {
  height: 20px;
  background: #5F666F;
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: #F6AE2D;
}

.pic-btn, .app-btn, .bio-btn {
  background-color: #FFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
  border: none;
}

.pic-btn:hover, .app-btn:hover, .bio-btn:hover {
  background-color: #F26419;
  color: #FFF;
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}





