body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.login-btn, .signup-btn {
  background: none!important;
  color: inherit;
  border: none; 
  padding: 0!important;
  font: inherit;
  cursor: pointer;
}

.hero-image {
  height: 60%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-align: center;
}

.prop-man-pic, .rental-pic {
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

.prop-man-pic {
  margin-right: 2em;
}

.rental-pic {
  margin-left: 2em;
}

.hero-blurb {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 4vh;
}

.footer {
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background: white;
}

.footer, .navbar {
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
}




